cmake-build-debug/
.idea/
.vscode/
imgui.ini
build/
win-build/
android-project/.gradle
android-project/.idea
android-project/local.properties
android-project/app/.cxx
android-project/app/build
android-project/app/release