cmake-build-debug/
.idea/
.vscode/
TODO.txt
imgui.ini
build/
build-win/
android-project/.gradle
android-project/.idea
android-project/local.properties
android-project/app/.cxx
android-project/app/build
android-project/app/release